img{
  height: 100px;
  width: 100px;
}
table{
  border: 3px solid black;
  width: 100%;
}
tr td {
  border: 3px solid black;
  text-align: center;

}
th{
  border: 3px solid black;

}
h1{
  text-align: center;
  background: orangered;
  padding-top: 10px;
  padding-bottom: 10px;
  color: aliceblue;
  border: 3px double black;
}
body{
  background-color: cyan;
}